<footer class="site-footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <h5 class="footer-title text-white">University of Wolverhampton</h5>
                <p>Providing quality higher education and research since 1827. We offer a wide range of undergraduate, postgraduate, and research degree programs.</p>
                <div class="social-icons mt-4">
                    <a href="#" class="social-icon me-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="social-icon me-2"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="social-icon me-2"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="social-icon me-2"><i class="bi bi-linkedin"></i></a>
                    <a href="#" class="social-icon"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2 mb-4 mb-lg-0">
                <h5 class="footer-title text-white">Quick Links</h5>
                <ul class="footer-links">
                    <li><a href="index.php">HomePage</a></li>
                    <li><a href="register.php">Register</a></li>
                    <li><a href="campus_tour_details.php">Campus Tour</a></li>
                    <li><a href="event_schedules.php">Event Schedule</a></li>
                    <li><a href="university_life.php">University Life</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                <h5 class="footer-title text-white">Contact Us</h5>
                <ul class="footer-links">
                    <li><i class="bi bi-geo-alt me-2"></i> Wulfruna Street, Wolverhampton, WV1 1LY</li>
                    <li><i class="bi bi-telephone me-2"></i> +44 (0)1902 321000</li>
                    <li><i class="bi bi-envelope me-2"></i> <a href="mailto:enquiries@wlv.ac.uk">enquiries@wlv.ac.uk</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="mb-0">© 2025 University of Wolverhampton. Wolfies Collab Dev Project.</p>
        </div>
    </div>
</footer>